.header {
  height: 2em;
  max-width: fit-content;
  top: 30px;
  left: 30%;
  position: fixed;
}

.welcome {
  font-size: 50px;
  color: azure;
  justify-content: center;
  display: flex;
}

.instruction {
  font-size: 30px;
  color: azure;
  justify-content: center;
  display: flex;
}
